# 일일 박스오피스 API를 이용
## 2018년01월11일 ~ 2018년11월3일까지의 개봉영화와 누적 관람객 수 찾기

In [2]:
import pandas as pd
import datetime
import requests

key1 = '93745210481f71d608b0ecd18fc8a7e9'

def crawl_data(start_date, end_date, keys=key1):
    final_list = []
    url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json'

    # 아래 Y,N,K,F가 다양성/상업, 국내/해외 영화를 각각 정의해준다.
    for single_date in pd.date_range(start_date, end_date):
        for multi, rep in zip(["N"], ["K"]):
            payload = {
                'key': keys,
                'targetDt': single_date.strftime('%Y%m%d'),
                'itemPerPage': '10',
                'multiMovieYn': multi,
                'repNationCd': rep
            }

            req = requests.get(url, params=payload)

            ## 여기서 리스트 형태로 저장하는 이유는 데이터프레임에 하나의 row로 인식되어 들어가게 하기 위함이다.
            for item in req.json()['boxOfficeResult']['dailyBoxOfficeList']:
                temp_list = []
                key_list = []
                for key, value in item.items():
                    key_list.append(key)
                    temp_list.append(value)

                temp_list.append(single_date)
                key_list.append('CurrentDate')

                temp_list.append(multi)
                key_list.append('multi')

                temp_list.append(rep)
                key_list.append('Nation')

                ## 위에서 temp_list에는 내용이, key_list에는 헤더가 담겼다.
                ## 이제 final_list에 내용을 담아준다. 사실 key_list는 한 번만 담아도 되지만 그냥 저렇게 두었다.
                final_list.append(temp_list)

    ## 마지막으로 final_list에 담긴 내용들을 데이터프레임으로 반환한다.
    return pd.DataFrame(final_list, columns=key_list)


movie = crawl_data("20180101", "20181130", keys=key1)

In [3]:
movie.head()

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,CurrentDate,multi,Nation
0,1,1,0,OLD,20150976,신과함께-죄와 벌,2017-12-20,7715346100,58.3,-852824100,...,76065842532,916689,-107268,-10.5,9456184,1644,7957,2018-01-01,N,K
1,2,2,0,OLD,20170590,1987,2017-12-27,4460740100,33.7,-224343200,...,19714744137,531520,-28526,-5.1,2473597,1097,4982,2018-01-01,N,K
2,3,3,0,OLD,20170402,강철비,2017-12-14,944300600,7.1,-48744300,...,32939198166,114310,-6536,-5.4,4128603,602,1451,2018-01-01,N,K
3,4,4,0,OLD,20174846,뽀로로 극장판 공룡섬 대모험,2017-12-07,109207600,0.8,60400,...,5958096200,13750,-3,0,787493,195,270,2018-01-01,N,K
4,5,5,1,OLD,20176769,광인옥한흠,2017-12-28,3171000,0.0,2273500,...,15236500,372,262,238.2,2009,11,12,2018-01-01,N,K

In [4]:
# 불필요한 열 데이터 삭제
del movie["rank"]
del movie['rnum']
del movie['rankInten']
del movie['rankOldAndNew']
del movie['salesInten']
del movie['salesChange']
del movie['audiInten']
del movie['audiChange']
del movie['salesShare']
del movie['salesAmt']

In [5]:
movie.head() # 열 삭제 확인

,movieCd,movieNm,openDt,salesAcc,audiCnt,audiAcc,scrnCnt,showCnt,CurrentDate,multi,Nation
0,20150976,신과함께-죄와 벌,2017-12-20,76065842532,916689,9456184,1644,7957,2018-01-01,N,K
1,20170590,1987,2017-12-27,19714744137,531520,2473597,1097,4982,2018-01-01,N,K
2,20170402,강철비,2017-12-14,32939198166,114310,4128603,602,1451,2018-01-01,N,K
3,20174846,뽀로로 극장판 공룡섬 대모험,2017-12-07,5958096200,13750,787493,195,270,2018-01-01,N,K
4,20176769,광인옥한흠,2017-12-28,15236500,372,2009,11,12,2018-01-01,N,K

- boxofficeType : 문자열	박스오피스 종류를 출력합니다.
- showRange	    : 문자열	박스오피스 조회 일자를 출력합니다.
- movieCd	    : 문자열	영화의 대표코드를 출력합니다. 
- movieNm	    : 문자열	영화명(국문)을 출력합니다.
- openDt	    : 문자열	영화의 개봉일을 출력합니다.
- salesAcc	    : 문자열	누적매출액을 출력합니다.
- audiCnt	    : 문자열	해당일의 관객수를 출력합니다. 
- audiAcc	    : 문자열	누적관객수를 출력합니다. 
- scrnCnt	    : 문자열	해당일자에 상영한 스크린수를 출력합니다. 
- showCnt	    : 문자열	해당일자에 상영된 횟수를 출력합니다.

In [8]:
movie[movie['movieNm'] == '1987']

,movieCd,movieNm,openDt,salesAcc,audiCnt,audiAcc,scrnCnt,showCnt,CurrentDate,multi,Nation
1,20170590,1987,2017-12-27,19714744137,531520,2473597,1097,4982,2018-01-01,N,K
8,20170590,1987,2017-12-27,21358190737,217249,2690846,1063,5044,2018-01-02,N,K
18,20170590,1987,2017-12-27,22687596737,174991,2865837,964,4231,2018-01-03,N,K
28,20170590,1987,2017-12-27,23928564037,163434,3029271,986,4260,2018-01-04,N,K
36,20170590,1987,2017-12-27,25636682734,202194,3231465,1012,4456,2018-01-05,N,K
43,20170590,1987,2017-12-27,29308960032,436764,3668229,1094,4812,2018-01-06,N,K
53,20170590,1987,2017-12-27,32848232932,421162,4089391,1067,4738,2018-01-07,N,K
60,20170590,1987,2017-12-27,34216684732,179977,4269368,1012,4545,2018-01-08,N,K
70,20170590,1987,2017-12-27,35549886032,175795,4445163,1052,4598,2018-01-09,N,K
80,20170590,1987,2017-12-27,36814820232,166737,4611900,1080,4666,2018-01-10,N,K
90,20170590,1987,2017-12-27,37912714832,143893,4755793,957,3840,2018-01-11,N,K
100,20170590,1987,2017-12-27,39502561286,186221,4942014,995,4045,2018-01-12,N,K
110,20170590,1987,2017-12-27,43183726345,434063,5376077,1103,4584,2018-01-13,N,K
120,20170590,1987,2017-12-27,46645839945,410882,5786959,1122,4516,2018-01-14,N,K
129,20170590,1987,2017-12-27,47624421645,128997,5915956,1015,4222,2018-01-15,N,K
138,20170590,1987,2017-12-27,48502341145,116339,6032295,1042,4239,2018-01-16,N,K
149,20170590,1987,2017-12-27,49191167945,90628,6122923,755,2901,2018-01-17,N,K
159,20170590,1987,2017-12-27,49799015345,80291,6203214,745,2833,2018-01-18,N,K
169,20170590,1987,2017-12-27,50577182545,91395,6294609,745,2842,2018-01-19,N,K
179,20170590,1987,2017-12-27,52261279545,198201,6492810,714,2744,2018-01-20,N,K
189,20170590,1987,2017-12-27,53739655745,175486,6668296,708,2642,2018-01-21,N,K
199,20170590,1987,2017-12-27,54134975445,52331,6720627,689,2599,2018-01-22,N,K
210,20170590,1987,2017-12-27,54505990445,49512,6770139,688,2540,2018-01-23,N,K
220,20170590,1987,2017-12-27,54778178745,35857,6805996,547,1816,2018-01-24,N,K
230,20170590,1987,2017-12-27,55028125145,33264,6839260,562,1706,2018-01-25,N,K
240,20170590,1987,2017-12-27,55341294245,36987,6876247,578,1733,2018-01-26,N,K
250,20170590,1987,2017-12-27,55998219545,77436,6953683,604,1666,2018-01-27,N,K
260,20170590,1987,2017-12-27,56608247645,72382,7026065,610,1615,2018-01-28,N,K
270,20170590,1987,2017-12-27,56809423445,26748,7052813,577,1621,2018-01-29,N,K
280,20170590,1987,2017-12-27,57001127245,25848,7078661,586,1611,2018-01-30,N,K
...,...,...,...,...,...,...,...,...,...,...,...
301,20170590,1987,2017-12-27,57222676745,11916,7113040,384,668,2018-02-01,N,K
311,20170590,1987,2017-12-27,57337093945,13966,7127006,401,685,2018-02-02,N,K
321,20170590,1987,2017-12-27,57546328645,24901,7151907,387,636,2018-02-03,N,K
331,20170590,1987,2017-12-27,57745706745,23629,7175536,397,641,2018-02-04,N,K
341,20170590,1987,2017-12-27,57808684445,8412,7183948,413,706,2018-02-05,N,K
351,20170590,1987,2017-12-27,57867127045,7861,7191809,417,707,2018-02-06,N,K
361,20170590,1987,2017-12-27,57935341645,9410,7201219,406,710,2018-02-07,N,K
372,20170590,1987,2017-12-27,57959267845,3245,7204464,173,265,2018-02-08,N,K
382,20170590,1987,2017-12-27,57990418645,3820,7208284,188,279,2018-02-09,N,K
393,20170590,1987,2017-12-27,58033772045,5124,7213408,177,260,2018-02-10,N,K
403,20170590,1987,2017-12-27,58075660145,4955,7218363,168,243,2018-02-11,N,K
413,20170590,1987,2017-12-27,58090420945,1951,7220314,184,265,2018-02-12,N,K
424,20170590,1987,2017-12-27,58106760345,2171,7222485,179,270,2018-02-13,N,K
436,20170590,1987,2017-12-27,58108416845,225,7222710,14,18,2018-02-14,N,K
444,20170590,1987,2017-12-27,58112177645,456,7223166,11,14,2018-02-15,N,K
453,20170590,1987,2017-12-27,58115586745,409,7223575,12,13,2018-02-16,N,K
463,20170590,1987,2017-12-27,58120400745,584,7224159,11,14,2018-02-17,N,K
474,20170590,1987,2017-12-27,58123649245,388,7224547,11,13,2018-02-18,N,K
485,20170590,1987,2017-12-27,58128382245,832,7225379,69,98,2018-02-19,N,K
496,20170590,1987,2017-12-27,58132113745,681,7226060,70,100,2018-02-20,N,K
506,20170590,1987,2017-12-27,58137338745,831,7226891,64,92,2018-02-21,N,K
514,20170590,1987,2017-12-27,58140629345,574,7227465,56,82,2018-02-22,N,K
525,20170590,1987,2017-12-27,58143535145,504,7227969,55,77,2018-02-23,N,K
535,20170590,1987,2017-12-27,58147969145,745,7228714,62,79,2018-02-24,N,K
544,20170590,1987,2017-12-27,58152101745,699,7229413,60,75,2018-02-25,N,K
556,20170590,1987,2017-12-27,58154383345,402,7229815,56,72,2018-02-26,N,K
567,20170590,1987,2017-12-27,58157677145,543,7230358,61,78,2018-02-27,N,K
575,20170590,1987,2017-12-27,58162055145,819,7231177,16,18,2018-02-28,N,K
656,20170590,1987,2017-12-27,58162928145,94,7231289,2,2,2018-03-08,N,K
2116,20170590,1987,2017-12-27,58166910145,60,7231830,1,1,2018-08-03,N,K

##### 아무래도 일일 영화데이터를 스크롤링한 것이므로 데이터가 중복되고 누적됨을 알 수 있음.
우리는 누적 관객 수만 구하면 되므로 마지막 아이만 뽑아야함

<hr>

# 최근 누적합계 찾기
##### 일간 데이터이므로 데이터 중복이 일어남.
##### 그래서 가장 최근의 누적 합계를 찾기 위해 쿼리 작성

In [10]:
# int형으로 묶어서 누적 구하기
movie.showCnt = movie.showCnt.astype(int)
movie.audiCnt = movie.audiCnt.astype(int)
movie.scrnCnt = movie.scrnCnt.astype(int)

In [11]:
movie_group = movie.groupby(['movieCd'])
recent = pd.DataFrame({
                    'movieNm' : movie_group['movieNm'].max(),
                    'screen' : movie_group['scrnCnt'].sum(),
                    'show' : movie_group['showCnt'].sum(),
                    'audience' : movie_group['audiAcc'].max(),
                    'sales' : movie_group['salesAcc'].max(),
                    'nation' : movie_group['Nation'].max(),
                    'openDate' : movie_group['openDt'].min()
                    }).reset_index()

recent

,movieCd,audience,movieNm,nation,openDate,sales,screen,show
0,19460021,494,자유만세,K,1946-10-21,988000,3,24
1,19588024,905,종각,K,,3045000,8,35
2,19598036,2095,여사장,K,,4175000,2,8
3,19608020,4112,이 생명 다하도록,K,,8234000,2,8
4,19618031,247,돼지꿈,K,,475000,1,3
5,19750082,1426,육체의 약속,K,1975-07-26,3990000,1,1
6,19760096,285,금욕,K,1976-03-13,943000,2,2
7,19780052,293,여기자 20년,K,1978-11-12,586000,2,8
8,19790046,3021,가을비 우산속에,K,1979-08-23,6040000,1,4
9,19830089,1318,얼굴이 아니고 마음입니다,K,1983-11-19,2619000,1,4
10,19910113,188,산딸기 5,K,1992-01-18,376000,1,4
11,19940055,228,산딸기 6,K,1994-07-16,456000,2,6
12,19950037,884,영원한 제국,K,1995-01-28,1768000,1,4
13,19990056,156,여고괴담 두번째 이야기,K,1999-12-24,1086000,1,1
14,20000005,289,시월애,K,2000-09-09,729000,52,56
15,20000038,7,돈오,K,,49000,1,1
16,20010047,4059,번지점프를 하다,K,2001-02-02,32575000,3,3
17,20020106,1918,복수는 나의 것,K,2002-03-28,14839500,8,8
18,20030046,4012,살인의 추억,K,2003-04-25,24647997,112,163
19,20050148,3121144,친절한 금자씨,K,2005-07-29,20495179593,18,18
20,20060434,90,침묵의 숲,K,,540000,1,1
21,20061257,28,거류,K,,194000,1,1
22,20072065,45,파산의 기술,K,,263000,1,1
23,20078584,885,맞짱,K,2018-09-12,860000,15,24
24,20080897,561,이어도,K,,1656500,2,2
25,20080899,273,살인나비를 쫓는 여자,K,1979-12-08,972500,2,2
26,20081003,2207918,박쥐,K,2009-04-30,14855497000,38,38
27,20081066,4950,길소뜸,K,1986-04-05,11388000,2,8
28,20081146,2300,초대받은 사람들,K,1981-10-24,6715000,2,8
29,20090074,11324791,해운대,K,2009-07-22,81026991000,2,2
...,...,...,...,...,...,...,...,...
332,20188705,31,Diff 2018 경쟁4,K,,214000,1,1
333,20188707,44,Diff 2018 경쟁9,K,,89000,2,2
334,20188708,33,Diff 2018 배우목격담 <이태경>,K,,230000,1,1
335,20188709,42,Diff 2018 로컬존 <지역단편영화 특별전>,K,,291000,1,1
336,20188710,21,Diff 2018 미드나잇 시네마,K,,147000,1,1
337,20188922,11,8월 단편 상상극장-장르: 힙합,K,,88000,1,1
338,20189067,9782,미쓰백,K,2018-10-11,90701800,14321,41885
339,20189122,387,양아치 느와르,K,2018-09-13,3339200,7,8
340,20189161,889,꽃찌: 독이 있는 사랑,K,2018-08-23,776000,7,20
341,20189326,38,샤먼 로드,K,,186000,1,1
342,20189409,128,한국 다큐 : 영화과를 졸업한 언니들과 나 + 수퍼 디스코,K,,666000,1,1
343,20189424,173,쾌락 도우미 무삭제,K,2018-01-18,964000,20,20
344,20189425,173,발칙한 동거,K,2018-01-15,963000,20,20
345,20189442,171,아들의 아내 무삭제,K,2018-01-11,905000,20,20
346,20189523,1,아내를 바꾸다 무삭제,K,2018-01-16,6000,1,1
347,20189525,9057,젝스키스 에이틴,K,2018-01-18,69957200,414,760
348,20189610,21,[네마프2018]한국 단편 4 - 장르의 가능성 I,K,,105000,1,1
349,20189624,10,장모의 유혹 - 아내가 집에 없던 날,K,2018-01-10,50000,1,1
350,20189663,99922,게이트,K,2018-02-28,821271100,2159,5310
351,20189741,146,동창생의 목적 - 감독판,K,2018-01-17,804000,21,21
352,20189742,129,사촌 누나,K,2018-03-08,765000,20,20
353,20189746,5986,극장판 뽀잉: 슈퍼 변신의 비밀,K,2018-09-20,91252000,2130,2452
354,20189761,503,터닝메카드W: 반다인의 비밀 특별판,K,2018-02-08,78820700,906,1561
355,20189781,3,정사 : 바람난 유부녀들 무삭제판,K,2018-01-15,6000,3,3
356,20189783,954070,챔피언,K,2018-05-01,9471138230,12553,47356
357,20189804,100,설날,K,,700000,1,1
358,20189862,120,감금의 시간 2 무삭제,K,2018-01-17,701000,20,20
359,20189869,7181,해피 투게더,K,2018-11-15,90207250,1645,2288
360,20189902,1,파도 여인 그리고 탱고 무삭제판,K,2018-01-12,5000,1,1
361,20189974,93,오렌지필름 기획전 - do not reply,K,,601000,1,1

In [13]:
recent[recent['movieNm'] == '1987']

     movieCd audience movieNm nation    openDate        sales  screen    show
86  20170590  7231830    1987      K  2017-12-27  58166910145   30678  110587

- 행이 하나만 나오고 다 합쳐짐

# 이상치 & 결측치 제거

- 재상영 영화를 제거하기 위해서 'movieCd'가 2018로 시작하는 row로만 구성
- 또한, 영화개봉일(openDate)이 공백인 것을 제외하기

In [14]:
temp = pd.DataFrame(columns=('movieCd', 'audience', 'movieNm', 'nation', 'openDate', 'sales', 'screen','show'))
movietemp = pd.DataFrame(columns=('movieCd', 'audience', 'movieNm', 'nation', 'openDate', 'sales', 'screen','show'))

#### 1. movieCd가 2018로 시작하는 아이만 movietemp 데이터프레임에 넣어준다

In [15]:

for i in range(0, len(recent)):
    if '2018' in recent.iloc[i].movieCd:
        temp = recent.iloc[i]
        movietemp = movietemp.append(temp)

In [16]:
movietemp.head()

,movieCd,audience,movieNm,nation,openDate,sales,screen,show
152,20180021,1,젊은 아내: 남편 교환의 날 (무삭제),K,2018-01-22,5000,1.0,1.0
153,20180063,846,라라,K,2018-02-22,6827500,48.0,53.0
154,20180085,123,초승달의 집,K,,615000,1.0,1.0
155,20180113,179,과외의 추억,K,2018-09-07,989000,20.0,21.0
156,20180141,147,정사 : 질투의 덫 - 감독판,K,2018-02-07,808000,22.0,22.0

- 값을 보면, movieCd가 2018로 시작하는 애로 구성되어 있는 것을 알 수 있다.
- index값이 섞여있으므로 정리해줘야함

In [17]:
movietemp = movietemp.reset_index(drop=True)
movietemp.head()

,movieCd,audience,movieNm,nation,openDate,sales,screen,show
0,20180021,1,젊은 아내: 남편 교환의 날 (무삭제),K,2018-01-22,5000,1.0,1.0
1,20180063,846,라라,K,2018-02-22,6827500,48.0,53.0
2,20180085,123,초승달의 집,K,,615000,1.0,1.0
3,20180113,179,과외의 추억,K,2018-09-07,989000,20.0,21.0
4,20180141,147,정사 : 질투의 덫 - 감독판,K,2018-02-07,808000,22.0,22.0

index 정렬됨

In [18]:
# 중복값 없음 확인
movietemp[movietemp['movieNm'] == '덕구']

     movieCd audience movieNm nation    openDate     sales  screen     show
33  20181561     9453      덕구      K  2018-04-05  88620000  7696.0  19030.0

#### 2. openDate가 공백인 것 제외하고 다시 데이터프레임 구성

In [19]:
tmp = pd.DataFrame(columns=('movieCd', 'audience', 'movieNm', 'nation', 'openDate', 'sales', 'screen','show'))
final = pd.DataFrame(columns=('movieCd', 'audience', 'movieNm', 'nation', 'openDate', 'sales', 'screen','show'))

In [22]:
# openDate가 공백이 아닌 애만 제외 후 다시 저장
for i in range(0, len(movietemp)):
    if ' ' not in movietemp.iloc[i].openDate:
        tmp = movietemp.iloc[i]
        final = final.append(tmp)

In [23]:
final.head()

,movieCd,audience,movieNm,nation,openDate,sales,screen,show
0,20180021,1,젊은 아내: 남편 교환의 날 (무삭제),K,2018-01-22,5000,1.0,1.0
1,20180063,846,라라,K,2018-02-22,6827500,48.0,53.0
3,20180113,179,과외의 추억,K,2018-09-07,989000,20.0,21.0
4,20180141,147,정사 : 질투의 덫 - 감독판,K,2018-02-07,808000,22.0,22.0
5,20180142,146,전망 좋은 섹스-감독판,K,2018-01-24,800000,21.0,21.0

In [24]:
# 뒤에 빠져있을지 모르니 index 정렬
final = final.reset_index(drop=True)
final

,movieCd,audience,movieNm,nation,openDate,sales,screen,show
0,20180021,1,젊은 아내: 남편 교환의 날 (무삭제),K,2018-01-22,5000,1.0,1.0
1,20180063,846,라라,K,2018-02-22,6827500,48.0,53.0
2,20180113,179,과외의 추억,K,2018-09-07,989000,20.0,21.0
3,20180141,147,정사 : 질투의 덫 - 감독판,K,2018-02-07,808000,22.0,22.0
4,20180142,146,전망 좋은 섹스-감독판,K,2018-01-24,800000,21.0,21.0
5,20180225,431,동창회의 목적 3,K,2018-02-20,2290000,20.0,22.0
6,20180282,861,속닥속닥,K,2018-07-13,6912000,2516.0,8172.0
7,20180401,903,풀잎들,K,2018-10-25,7222550,601.0,1008.0
8,20180761,129,내 친구 엄마,K,2018-03-15,767000,20.0,20.0
9,20180782,128,착한 형수 3,K,2018-06-07,758000,20.0,20.0
10,20180791,182,엄마 애인,K,2018-01-29,1012000,20.0,20.0
11,20180804,993544,곤지암,K,2018-03-28,95491000,20602.0,88488.0
12,20180824,123,젊은 장모,K,2018-02-02,721000,19.0,19.0
13,20180947,60,리얼라이저,K,2018-09-03,300000,1.0,1.0
14,20180986,244,완전한 사육: 감금의 미학,K,2018-10-11,1183000,20.0,20.0
15,20181142,534,늦여름,K,2018-10-25,5340000,3.0,3.0
16,20181363,152,불륜 정사의 맛-감독판,K,2018-02-14,793000,20.0,20.0
17,20181366,99971,미니특공대X,K,2018-03-22,7740000,3784.0,5266.0
18,20181466,91,착한 자매들,K,2018-10-12,509000,20.0,20.0
19,20181561,9453,덕구,K,2018-04-05,88620000,7696.0,19030.0
20,20181722,121,이모의 유혹,K,2018-03-02,709000,18.0,18.0
21,20181741,942,예스 평창!,K,2018-03-08,7526800,12.0,13.0
22,20181876,609,"안녕, 나의 소녀 시절이여",K,2018-12-12,5235000,1.0,1.0
23,20181984,180,어린 처제,K,2018-05-04,1000000,20.0,20.0
24,20182021,638,번개맨과 신비의 섬,K,2018-04-05,5074000,1684.0,2511.0
25,20182068,119,맛있는 세자매,K,2018-10-04,693000,19.0,19.0
26,20182221,984,스파키,K,2018-04-12,7872000,1522.0,1925.0
27,20182358,129,정사 : 친구의 엄마 2,K,2018-04-19,765000,20.0,20.0
28,20182359,128,아내의 엄마,K,2018-05-10,758000,20.0,20.0
29,20182382,129,바람난 여자들2,K,2018-04-24,765000,20.0,20.0
...,...,...,...,...,...,...,...,...
95,20186926,960,게이트-완결판,K,2018-06-21,969000,36.0,37.0
96,20186981,178,더티웨딩,K,2018-08-16,991000,20.0,20.0
97,20187395,139,어린 여배우 무삭제판,K,2018-07-10,658000,20.0,20.0
98,20187655,179,음란한 모델,K,2018-07-19,991000,20.0,20.0
99,20187658,69,엄마친구 5,K,2018-08-24,465000,20.0,20.0
100,20187682,5866,해적왕 작스톰,K,2018-07-25,45605800,403.0,424.0
101,20188003,244,맛있는 스와핑,K,2018-08-14,1183000,20.0,20.0
102,20188009,68,여친엄마 2,K,2018-08-30,458000,19.0,19.0
103,20188042,83586,독전: 익스텐디드 컷,K,2018-07-18,844498600,2698.0,5646.0
104,20188501,870,미친도시,K,2018-08-30,8716500,34.0,39.0
105,20188541,187,수상한 노래방,K,2018-08-09,1026000,20.0,20.0
106,20189067,9782,미쓰백,K,2018-10-11,90701800,14321.0,41885.0
107,20189122,387,양아치 느와르,K,2018-09-13,3339200,7.0,8.0
108,20189161,889,꽃찌: 독이 있는 사랑,K,2018-08-23,776000,7.0,20.0
109,20189424,173,쾌락 도우미 무삭제,K,2018-01-18,964000,20.0,20.0
110,20189425,173,발칙한 동거,K,2018-01-15,963000,20.0,20.0
111,20189442,171,아들의 아내 무삭제,K,2018-01-11,905000,20.0,20.0
112,20189523,1,아내를 바꾸다 무삭제,K,2018-01-16,6000,1.0,1.0
113,20189525,9057,젝스키스 에이틴,K,2018-01-18,69957200,414.0,760.0
114,20189624,10,장모의 유혹 - 아내가 집에 없던 날,K,2018-01-10,50000,1.0,1.0
115,20189663,99922,게이트,K,2018-02-28,821271100,2159.0,5310.0
116,20189741,146,동창생의 목적 - 감독판,K,2018-01-17,804000,21.0,21.0
117,20189742,129,사촌 누나,K,2018-03-08,765000,20.0,20.0
118,20189746,5986,극장판 뽀잉: 슈퍼 변신의 비밀,K,2018-09-20,91252000,2130.0,2452.0
119,20189761,503,터닝메카드W: 반다인의 비밀 특별판,K,2018-02-08,78820700,906.0,1561.0
120,20189781,3,정사 : 바람난 유부녀들 무삭제판,K,2018-01-15,6000,3.0,3.0
121,20189783,954070,챔피언,K,2018-05-01,9471138230,12553.0,47356.0
122,20189862,120,감금의 시간 2 무삭제,K,2018-01-17,701000,20.0,20.0
123,20189869,7181,해피 투게더,K,2018-11-15,90207250,1645.0,2288.0
124,20189902,1,파도 여인 그리고 탱고 무삭제판,K,2018-01-12,5000,1.0,1.0

In [28]:
# 공백값 없음 확인
final[final.openDate == ' ']

Empty DataFrame
Columns: [movieCd, audience, movieNm, nation, openDate, sales, screen, show]
Index: []

In [30]:
final.to_csv("data1.csv", index=False)