# 5년치 데이터 불러오기

In [4]:
import pandas as pd

movie = pd.read_csv('./csv2/movie262_name_for_tweeter.csv')
movie

,Unnamed: 0,Unnamed: 0.1,영화명,개봉일,관객수,배급사,장르,기사수,감독수상,감독파워,...,개봉3일_스크린수,개봉3일_상영횟수,개봉3일_관객수,상영등급,기대지수,비기대지수,holiday,season,배우수상,배우파워
0,0,0,명량,20140730,17613682,씨제이이앤엠(주),사극,56134,28,2,...,1300,6699,867437,15세 관람가,13639,1126,1,2,32,11
1,1,1,해적,20140806,8666046,롯데쇼핑㈜롯데엔터테인먼트,어드벤처,22656,9,4,...,789,3947,297432,12세 관람가,4941,1537,1,2,19,4
2,2,2,수상한 그녀,20140122,8657982,씨제이이앤엠(주),드라마,61925,27,2,...,613,2909,175833,15세 관람가,0,0,1,4,21,11
3,3,3,국제시장,20141217,5345677,씨제이이앤엠(주),드라마,53038,37,2,...,966,4644,241578,12세 관람가,12784,2052,0,4,14,19
4,4,4,군도,20140723,4774931,(주)쇼박스,사극,21502,24,0,...,1295,6641,468320,15세 관람가,14319,1262,1,2,23,16
5,5,5,타짜,20140903,4015361,"롯데쇼핑㈜롯데엔터테인먼트,(주)싸이더스",드라마,19273,16,2,...,827,3572,186192,청소년 관람불가,7157,3757,0,3,4,3
6,6,6,역린,20140430,3849552,롯데쇼핑㈜롯데엔터테인먼트,사극,17528,0,2,...,1020,4982,256994,15세 관람가,6255,810,0,1,14,5
7,7,7,신의 한 수,20140703,3566852,(주)쇼박스,범죄,190686,0,0,...,794,4079,369886,청소년 관람불가,2407,365,1,2,11,8
8,8,8,끝까지 간다,20140529,3450305,(주)쇼박스,액션,41217,12,1,...,645,3430,222279,15세 관람가,1320,229,0,1,6,5
9,9,9,표적,20140430,2841828,씨제이이앤엠(주),액션,23813,1,0,...,639,3260,141583,15세 관람가,1717,191,0,1,7,6
10,10,10,나의 사랑 나의 신부,20141008,2141155,씨네그루(주)다우기술,멜로/로맨스,13586,1,0,...,610,3032,114571,15세 관람가,8499,921,0,3,1,1
11,11,11,남자가 사랑할 때,20140122,1979311,(주)넥스트엔터테인먼트월드(NEW),멜로/로맨스,9097,0,0,...,511,2268,98632,15세 관람가,0,0,1,4,16,7
12,12,12,기술자들,20141224,1778083,롯데쇼핑㈜롯데엔터테인먼트,범죄,21944,1,0,...,629,3082,168545,15세 관람가,24306,2459,0,4,3,5
13,13,13,제보자,20141002,1755181,메가박스중앙(주)플러스엠,드라마,13903,15,0,...,650,3339,188016,12세 관람가,3728,633,0,3,18,12
14,14,14,피끓는 청춘,20140122,1676040,롯데쇼핑㈜롯데엔터테인먼트,코미디,6921,1,0,...,626,2921,134260,15세 관람가,0,0,1,4,11,3
15,15,15,두근두근 내 인생,20140903,1624601,씨제이이앤엠(주),드라마,11258,7,0,...,629,2920,100128,12세 관람가,15718,3747,0,3,5,7
16,16,16,우아한 거짓말,20140313,1619188,CGV아트하우스,드라마,14524,3,2,...,553,2809,187283,12세 관람가,163,13,0,1,3,7
17,17,17,해무,20140813,1475507,(주)넥스트엔터테인먼트월드(NEW),드라마,157,9,0,...,548,2776,227378,청소년 관람불가,7489,1057,1,2,23,16
18,18,18,인간중독,20140514,1441973,(주)넥스트엔터테인먼트월드(NEW),멜로/로맨스,25409,18,0,...,644,2935,126444,청소년 관람불가,5486,1115,0,1,3,1
19,19,19,찌라시,20140220,1221427,씨제이이앤엠(주),범죄,3938,2,2,...,552,2468,173347,15세 관람가,0,0,1,4,4,11
20,20,20,빅매치,20141127,1177438,(주)넥스트엔터테인먼트월드(NEW),액션,10132,10,0,...,627,3103,165268,15세 관람가,4634,739,0,3,14,9
21,21,21,슬로우 비디오,20141002,1169562,이십세기폭스코리아(주),드라마,5936,2,0,...,613,3412,182455,12세 관람가,8508,962,0,3,3,2
22,22,22,방황하는 칼날,20140410,989906,씨제이이앤엠(주),범죄,4496,3,0,...,594,2741,157498,청소년 관람불가,1932,155,0,1,12,4
23,23,23,우리는 형제입니다,20141023,970373,(주)쇼박스,코미디,10506,10,0,...,547,2936,141213,12세 관람가,5789,669,0,3,11,6
24,24,24,카트,20141113,812490,(주)리틀빅픽쳐스,드라마,18289,5,0,...,539,2678,125500,12세 관람가,48999,3049,0,3,12,6
25,25,25,관능의 법칙,20140213,781516,롯데쇼핑㈜롯데엔터테인먼트,드라마,7556,4,0,...,532,2420,106949,청소년 관람불가,0,0,1,4,20,3
26,26,26,상의원,20141224,676632,"(주)쇼박스,(주)와우픽쳐스",사극,13202,3,0,...,453,1931,66867,15세 관람가,8746,1553,0,4,6,4
27,27,27,플랜맨,20140109,632299,롯데쇼핑㈜롯데엔터테인먼트,드라마,4349,0,0,...,433,2006,111867,15세 관람가,0,0,1,4,13,3
28,28,28,우는 남자,20140604,603495,씨제이이앤엠(주),액션,12694,19,1,...,480,2119,93916,청소년 관람불가,2136,461,0,2,4,1
29,29,29,패션왕,20141106,594871,(주)넥스트엔터테인먼트월드(NEW),코미디,14115,1,0,...,515,2314,128083,15세 관람가,39795,8414,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,232,232,염력,20180131,990111,(주)넥스트엔터테인먼트월드(NEW),드라마,7902,18,2,...,1051,5717,103337,15세 관람가,4301,1096,1,4,11,7
233,233,233,인랑,20180725,898945,워너브러더스 코리아(주),SF,10195,37,4,...,977,3838,88857,15세 관람가,2941,948,1,2,13,15
234,234,234,레슬러,20180509,771141,롯데쇼핑㈜롯데엔터테인먼트,드라마,8150,0,0,...,902,4614,69096,15세 관람가,523,162,0,1,7,10
235,235,235,상류사회,20180829,768249,롯데컬처웍스(주)롯데엔터테인먼트,드라마,11005,0,0,...,841,3634,89069,청소년 관람불가,364,467,1,2,7,3
236,236,236,물괴,20180912,723951,"롯데컬처웍스(주)롯데엔터테인먼트,씨네그루(주)키다리이엔티",액션,7215,2,0,...,1163,6409,93286,15세 관람가,1274,245,0,3,5,5
237,237,237,미쓰백,20181011,722004,(주)리틀빅픽쳐스,드라마,7084,1,0,...,624,2190,60163,15세 관람가,690,78,0,3,4,2
238,238,238,버닝,20180517,528372,CGV아트하우스,미스터리,14642,69,0,...,705,2540,85021,청소년 관람불가,10341,3921,0,1,4,3
239,239,239,7년의 밤,20180328,528007,씨제이이앤엠(주),스릴러,13150,14,1,...,812,3227,57164,15세 관람가,5888,454,0,1,10,5
240,240,240,변산,20180704,490519,메가박스중앙(주)플러스엠,드라마,7676,97,8,...,695,2885,45057,15세 관람가,1025,103,1,2,5,1
241,241,241,동네사람들,20181107,460381,(주)리틀빅픽쳐스,액션,37499,0,0,...,715,2833,53633,15세 관람가,517,88,0,3,7,6
242,242,242,원더풀 고스트,20180926,450374,"(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온",코미디,3365,0,0,...,349,1796,36922,12세 관람가,946,134,0,3,1,5
243,243,243,흥부,20180214,416303,롯데쇼핑㈜롯데엔터테인먼트,사극,780,9,0,...,568,1770,80692,12세 관람가,4290,342,1,4,4,6
244,244,244,도어락,20181205,395313,메가박스중앙(주)플러스엠,스릴러,4619,0,0,...,913,4226,139818,15세 관람가,383,68,0,4,0,3
245,245,245,허스토리,20180627,336100,(주)넥스트엔터테인먼트월드(NEW),드라마,6906,8,0,...,602,2469,25042,12세 관람가,494,49,0,2,8,4
246,246,246,덕구,20180405,315359,메가박스중앙(주)플러스엠,드라마,2781,0,0,...,509,1486,40590,전체 관람가,446,27,0,1,0,1
247,247,247,번 더 스테이지,20181115,315014,월트디즈니컴퍼니코리아 유한책임회사,기타,1036,0,0,...,200,533,61237,전체 관람가,1765,56,0,3,0,0
248,248,248,치즈인더트랩,20180314,229005,(주)리틀빅픽쳐스,멜로/로맨스,16072,0,0,...,350,1559,23166,15세 관람가,3832,279,0,1,1,3
249,249,249,속닥속닥,20180713,217444,(주)그노스,공포(호러),2522,0,0,...,298,1284,43373,15세 관람가,272,35,1,2,0,0
250,250,250,나를 기억해,20180419,141222,씨네그루(주)키다리이엔티,미스터리,132994,0,0,...,545,2370,33511,청소년 관람불가,555,104,0,1,2,1
251,251,251,독전,20180718,137871,(주)넥스트엔터테인먼트월드(NEW),범죄,416,13,3,...,347,750,18465,15세 관람가,2703,174,1,2,12,12
252,252,252,게이트,20180228,101381,(주)제이앤씨미디어그룹,범죄,27412,0,0,...,203,545,8289,15세 관람가,371,121,1,4,11,9
253,253,253,여중생A,20180620,97850,롯데컬처웍스(주)롯데엔터테인먼트,드라마,4849,0,0,...,447,1308,7804,12세 관람가,2820,337,0,2,1,1
254,254,254,여곡성,20181108,67368,(주)스마일이엔티,공포(호러),3475,0,0,...,212,681,16151,15세 관람가,391,93,0,3,4,1
255,255,255,번개맨과 신비의 섬,20180405,60561,"힘컨텐츠(주),(주)디스테이션",가족,69,0,0,...,182,407,16093,전체 관람가,57,8,0,1,0,0
256,256,256,머니백,20180412,53610,(주)리틀빅픽쳐스,액션,2180,0,0,...,463,932,12015,15세 관람가,262,50,0,1,17,14
257,257,257,데자뷰,20180530,48279,씨네그루(주)키다리이엔티,미스터리,4593,0,0,...,465,1239,5872,15세 관람가,159,42,0,1,0,0
258,258,258,비밥바룰라,20180124,47565,씨네그루(주)키다리이엔티,코미디,1795,0,0,...,325,560,5399,12세 관람가,1231,77,1,4,0,1
259,259,259,배반의 장미,20181018,41054,롯데컬처웍스(주)롯데엔터테인먼트,코미디,3616,0,0,...,434,994,7436,15세 관람가,115,46,0,3,1,4
260,260,260,해피 투게더,20181115,26141,플레이리스트(주),드라마,34161,0,0,...,225,318,4071,12세 관람가,580,32,0,3,0,4
261,261,261,번개맨의 비밀,20181206,6315,(주)디스테이션,가족,183,0,0,...,309,424,14058,전체 관람가,54,8,0,4,0,0

# 개봉일 시간별 분리

In [5]:
import datetime
temp = movie.개봉일.apply(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d'))

In [3]:
# 총 영화 갯수 확인 : 스크린 수 100개 이상, 애니메이션 장르 제거한 5년치 한국 상업영화들
print(len(temp))

262

In [6]:
ts = temp.dt

In [7]:
ts_prop = pd.DataFrame({'year':ts.year,
                       'month': ts.month,
                       'day':ts.day,
                       'weekofyear':ts.weekofyear,
                       'dayofyear':ts.dayofyear,
                       'weekday':ts.weekday,
                       'quarter':ts.quarter})

# 트위터에서 영화 언급수 개봉전 1주일, 개봉후 1주일 크롤링

In [17]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.firefox.firefox_binary import  FirefoxBinary
from selenium.webdriver.common.desired_capabilities import  DesiredCapabilities
import time
from selenium.webdriver.common.keys import Keys
import datetime as dt

cap = DesiredCapabilities().FIREFOX
cap["marionette"] = True
browser = webdriver.Firefox(capabilities=cap, executable_path="C:/Users/student/Downloads/geckodriver/geckodriver.exe")
browser.get('http://google.com/')

In [8]:
movie['tweets_after'] = 0
movie['tweets_before'] = 0

In [9]:
ts_prop.year[0]

2014

In [10]:
ts_prop['year']

0      2014
1      2014
2      2014
3      2014
4      2014
5      2014
6      2014
7      2014
8      2014
9      2014
10     2014
11     2014
12     2014
13     2014
14     2014
15     2014
16     2014
17     2014
18     2014
19     2014
20     2014
21     2014
22     2014
23     2014
24     2014
25     2014
26     2014
27     2014
28     2014
29     2014
       ...
232    2018
233    2018
234    2018
235    2018
236    2018
237    2018
238    2018
239    2018
240    2018
241    2018
242    2018
243    2018
244    2018
245    2018
246    2018
247    2018
248    2018
249    2018
250    2018
251    2018
252    2018
253    2018
254    2018
255    2018
256    2018
257    2018
258    2018
259    2018
260    2018
261    2018
Name: year, Length: 262, dtype: int64

In [12]:
temp

0     2014-07-30
1     2014-08-06
2     2014-01-22
3     2014-12-17
4     2014-07-23
5     2014-09-03
6     2014-04-30
7     2014-07-03
8     2014-05-29
9     2014-04-30
10    2014-10-08
11    2014-01-22
12    2014-12-24
13    2014-10-02
14    2014-01-22
15    2014-09-03
16    2014-03-13
17    2014-08-13
18    2014-05-14
19    2014-02-20
20    2014-11-27
21    2014-10-02
22    2014-04-10
23    2014-10-23
24    2014-11-13
25    2014-02-13
26    2014-12-24
27    2014-01-09
28    2014-06-04
29    2014-11-06
         ...
232   2018-01-31
233   2018-07-25
234   2018-05-09
235   2018-08-29
236   2018-09-12
237   2018-10-11
238   2018-05-17
239   2018-03-28
240   2018-07-04
241   2018-11-07
242   2018-09-26
243   2018-02-14
244   2018-12-05
245   2018-06-27
246   2018-04-05
247   2018-11-15
248   2018-03-14
249   2018-07-13
250   2018-04-19
251   2018-07-18
252   2018-02-28
253   2018-06-20
254   2018-11-08
255   2018-04-05
256   2018-04-12
257   2018-05-30
258   2018-01-24
259   2018-10-18
260   2018-11-15
261   2018-12-06
Name: 개봉일, Length: 262, dtype: datetime64[ns]

In [13]:
from datetime import timedelta

date = temp[0] + timedelta(days=7)
date.year

2014

In [14]:
temp[0].day

30

In [15]:
strtemp = '영화 ' + movie['영화명'][1]
strtemp

'영화 해적'

In [16]:
totalfreq=[]
for i in range(len(temp)):
    startdate = dt.date(year = temp[i].year, month = temp[i].month, day=temp[i].day)
    datetemp = temp[i] + timedelta(days=1)
    untildate = dt.date(year=datetemp.year, month=datetemp.month, day=datetemp.day)
    datetemp2 = temp[i] + timedelta(days=7)
    enddate = dt.date(year=datetemp2.year, month=datetemp2.month, day=datetemp2.day)

    strtemp = '영화 ' + movie['영화명'][i]
    while not enddate==startdate:
        url='https://twitter.com/search?q='+strtemp+'since%3A'+str(startdate)+'%20until%3A'+str(untildate)+'&amp;amp;amp;amp;amp;amp;lang=eg'
        browser.get(url)
        html = browser.page_source
        soup=BeautifulSoup(html,'html.parser')

        lastHeight = browser.execute_script("return document.body.scrollHeight")
        while True:
                dailyfreq={'Date':startdate}
        #     i=0 i는 페이지수
                wordfreq=0
                tweets=soup.find_all("p", {"class": "TweetTextSize"})
                wordfreq+=len(tweets)

                browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
                time.sleep(1)

                newHeight = browser.execute_script("return document.body.scrollHeight")
                print(newHeight)
                if newHeight != lastHeight:
                    html = browser.page_source
                    soup=BeautifulSoup(html,'html.parser')
                    tweets=soup.find_all("p", {"class": "TweetTextSize"})
                    wordfreq=len(tweets)
                else:
                    dailyfreq['Frequency']=wordfreq
                    dailyfreq['Movie']=movie['영화명'][i]
                    wordfreq=0
                    totalfreq.append(dailyfreq)
                    startdate=untildate
                    untildate+=dt.timedelta(days=1)
                    dailyfreq={}
                    break
        #         i+=1
                lastHeight = newHeight

6548
6698
6698
6682
6682

KeyboardInterrupt:

In [17]:
import pandas as pd
df=pd.DataFrame(totalfreq)
df

            Date  Frequency    Movie
0     2014-07-30         41       명량
1     2014-07-31         39       명량
2     2014-08-01         44       명량
3     2014-08-02         59       명량
4     2014-08-03         49       명량
5     2014-08-04         41       명량
6     2014-08-05         47       명량
7     2014-08-06         42       해적
8     2014-08-07         39       해적
9     2014-08-08         41       해적
10    2014-08-09         39       해적
11    2014-08-10         38       해적
12    2014-08-11         47       해적
13    2014-08-12         43       해적
14    2014-01-22         33   수상한 그녀
15    2014-01-23         39   수상한 그녀
16    2014-01-24         36   수상한 그녀
17    2014-01-25         40   수상한 그녀
18    2014-01-26         40   수상한 그녀
19    2014-01-27         36   수상한 그녀
20    2014-01-28         40   수상한 그녀
21    2014-12-17         33     국제시장
22    2014-12-18         37     국제시장
23    2014-12-19         41     국제시장
24    2014-12-20         24     국제시장
25    2014-12-21         36     국제시장
26    2014-12-22         39     국제시장
27    2014-12-23         41     국제시장
28    2014-07-23         40       군도
29    2014-07-24         40       군도
...          ...        ...      ...
1804  2018-06-04          3      데자뷰
1805  2018-06-05          5      데자뷰
1806  2018-01-24         10    비밥바룰라
1807  2018-01-25          3    비밥바룰라
1808  2018-01-26          4    비밥바룰라
1809  2018-01-27          5    비밥바룰라
1810  2018-01-28          2    비밥바룰라
1811  2018-01-29          1    비밥바룰라
1812  2018-01-30          1    비밥바룰라
1813  2018-10-18         11   배반의 장미
1814  2018-10-19          6   배반의 장미
1815  2018-10-20         11   배반의 장미
1816  2018-10-21          7   배반의 장미
1817  2018-10-22          8   배반의 장미
1818  2018-10-23          0   배반의 장미
1819  2018-10-24          2   배반의 장미
1820  2018-11-15          8   해피 투게더
1821  2018-11-16          4   해피 투게더
1822  2018-11-17          5   해피 투게더
1823  2018-11-18          6   해피 투게더
1824  2018-11-19          0   해피 투게더
1825  2018-11-20          1   해피 투게더
1826  2018-11-21          3   해피 투게더
1827  2018-12-06          0  번개맨의 비밀
1828  2018-12-07          1  번개맨의 비밀
1829  2018-12-08          0  번개맨의 비밀
1830  2018-12-09          0  번개맨의 비밀
1831  2018-12-10          0  번개맨의 비밀
1832  2018-12-11          0  번개맨의 비밀
1833  2018-12-12          0  번개맨의 비밀

[1834 rows x 3 columns]

In [18]:
df.to_csv('after_tweets.csv')

In [ ]:
"""
totalfreq=[]
while not enddate==startdate:
    url='https://twitter.com/search?q=%EC%98%81%ED%99%94%20%EA%B3%A4%EC%A7%80%EC%95%94%20since%3A'+str(startdate)+'%20until%3A'+str(untildate)+'&amp;amp;amp;amp;amp;amp;lang=eg'
    browser.get(url)
    html = browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    
    lastHeight = browser.execute_script("return document.body.scrollHeight")
    while True:
            dailyfreq={'Date':startdate}
    #     i=0 i는 페이지수
            wordfreq=0
            tweets=soup.find_all("p", {"class": "TweetTextSize"})
            wordfreq+=len(tweets)

            browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            time.sleep(1)

            newHeight = browser.execute_script("return document.body.scrollHeight")
            print(newHeight)
            if newHeight != lastHeight:
                html = browser.page_source
                soup=BeautifulSoup(html,'html.parser')
                tweets=soup.find_all("p", {"class": "TweetTextSize"})
                wordfreq=len(tweets)
            else:
                dailyfreq['Frequency']=wordfreq
                wordfreq=0
                totalfreq.append(dailyfreq)
                startdate=untildate
                untildate+=dt.timedelta(days=1)
                dailyfreq={}
                break
    #         i+=1
            lastHeight = newHeight
"""

# 트윗 컬럼 추가

In [7]:
after = pd.read_csv('./csv2/aftertweets.csv')

In [8]:
after

      Unnamed: 0        Date  Frequency         Movie
0              0  2014-07-30         40            명량
1              1  2014-07-31         39            명량
2              2  2014-08-01         44            명량
3              3  2014-08-02         59            명량
4              4  2014-08-03         49            명량
5              5  2014-08-04         41            명량
6              6  2014-08-05         41            명량
7              7  2014-08-06         24  해적: 바다로 간 산적
8              8  2014-08-07         15  해적: 바다로 간 산적
9              9  2014-08-08         16  해적: 바다로 간 산적
10            10  2014-08-09         10  해적: 바다로 간 산적
11            11  2014-08-10         10  해적: 바다로 간 산적
12            12  2014-08-11         17  해적: 바다로 간 산적
13            13  2014-08-12         17  해적: 바다로 간 산적
14            14  2014-01-22         33        수상한 그녀
15            15  2014-01-23         39        수상한 그녀
16            16  2014-01-24         36        수상한 그녀
17            17  2014-01-25         40        수상한 그녀
18            18  2014-01-26         40        수상한 그녀
19            19  2014-01-27         36        수상한 그녀
20            20  2014-01-28         40        수상한 그녀
21            21  2014-12-17         33          국제시장
22            22  2014-12-18         37          국제시장
23            23  2014-12-19         40          국제시장
24            24  2014-12-20         24          국제시장
25            25  2014-12-21         38          국제시장
26            26  2014-12-22         39          국제시장
27            27  2014-12-23         41          국제시장
28            28  2014-07-23         38    군도: 민란의 시대
29            29  2014-07-24         27    군도: 민란의 시대
...          ...         ...        ...           ...
1804        1804  2018-06-04          3           데자뷰
1805        1805  2018-06-05          5           데자뷰
1806        1806  2018-01-24         10         비밥바룰라
1807        1807  2018-01-25          3         비밥바룰라
1808        1808  2018-01-26          4         비밥바룰라
1809        1809  2018-01-27          5         비밥바룰라
1810        1810  2018-01-28          2         비밥바룰라
1811        1811  2018-01-29          1         비밥바룰라
1812        1812  2018-01-30          1         비밥바룰라
1813        1813  2018-10-18         11        배반의 장미
1814        1814  2018-10-19          6        배반의 장미
1815        1815  2018-10-20         11        배반의 장미
1816        1816  2018-10-21          7        배반의 장미
1817        1817  2018-10-22          8        배반의 장미
1818        1818  2018-10-23          0        배반의 장미
1819        1819  2018-10-24          2        배반의 장미
1820        1820  2018-11-15          8        해피 투게더
1821        1821  2018-11-16          4        해피 투게더
1822        1822  2018-11-17          5        해피 투게더
1823        1823  2018-11-18          6        해피 투게더
1824        1824  2018-11-19          0        해피 투게더
1825        1825  2018-11-20          1        해피 투게더
1826        1826  2018-11-21          3        해피 투게더
1827        1827  2018-12-06          0       번개맨의 비밀
1828        1828  2018-12-07          1       번개맨의 비밀
1829        1829  2018-12-08          0       번개맨의 비밀
1830        1830  2018-12-09          0       번개맨의 비밀
1831        1831  2018-12-10          0       번개맨의 비밀
1832        1832  2018-12-11          0       번개맨의 비밀
1833        1833  2018-12-12          0       번개맨의 비밀

[1834 rows x 4 columns]

# 여중생A 컬럼 따로 추가

In [18]:
import datetime
temp2 = movie.개봉일[[253]].apply(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d'))

In [19]:
temp2

253   2018-06-20
Name: 개봉일, dtype: datetime64[ns]

In [20]:
ts2 = temp2.dt

In [21]:
ts_prop2 = pd.DataFrame({'year':ts2.year,
                       'month': ts2.month,
                       'day':ts2.day,
                       'weekofyear':ts2.weekofyear,
                       'dayofyear':ts2.dayofyear,
                       'weekday':ts2.weekday,
                       'quarter':ts2.quarter})

In [22]:
ts_prop2

     year  month  day  weekofyear  dayofyear  weekday  quarter
253  2018      6   20          25        171        2        2

In [23]:
from datetime import timedelta

date2 = temp2[253] + timedelta(days=7)
date2.year

2018

In [25]:
totalfreq=[]

startdate = dt.date(year = temp2[253].year, month = temp[253].month, day=temp[253].day)
datetemp = temp2[253] + timedelta(days=1)
untildate = dt.date(year=datetemp.year, month=datetemp.month, day=datetemp.day)
datetemp2 = temp[253] + timedelta(days=7)
enddate = dt.date(year=datetemp2.year, month=datetemp2.month, day=datetemp2.day)

strtemp = '영화 ' + '여중생A '
while not enddate==startdate:
        url='https://twitter.com/search?q='+strtemp+'since%3A'+str(startdate)+'%20until%3A'+str(untildate)+'&amp;amp;amp;amp;amp;amp;lang=eg'
        browser.get(url)
        html = browser.page_source
        soup=BeautifulSoup(html,'html.parser')

        lastHeight = browser.execute_script("return document.body.scrollHeight")
        while True:
                dailyfreq={'Date':startdate}
        #     i=0 i는 페이지수
                wordfreq=0
                tweets=soup.find_all("p", {"class": "TweetTextSize"})
                wordfreq+=len(tweets)

                browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
                time.sleep(1)

                newHeight = browser.execute_script("return document.body.scrollHeight")
                print(newHeight)
                if newHeight != lastHeight:
                    html = browser.page_source
                    soup=BeautifulSoup(html,'html.parser')
                    tweets=soup.find_all("p", {"class": "TweetTextSize"})
                    wordfreq=len(tweets)
                else:
                    dailyfreq['Frequency']=wordfreq
                    dailyfreq['Movie']='여중생A '
                    wordfreq=0
                    totalfreq.append(dailyfreq)
                    startdate=untildate
                    untildate+=dt.timedelta(days=1)
                    dailyfreq={}
                    break
        #         i+=1
                lastHeight = newHeight

8707
9153
9153
6479
6479
6486
6506
6506
6044
6222
6222
8173
9915
9915
5215
5215
4061
4061

In [26]:
import pandas as pd
df2=pd.DataFrame(totalfreq)
df2

         Date  Frequency  Movie
0  2018-06-20         37  여중생A
1  2018-06-21         34  여중생A
2  2018-06-22         40  여중생A
3  2018-06-23         38  여중생A
4  2018-06-24         42  여중생A
5  2018-06-25         24  여중생A
6  2018-06-26         25  여중생A

In [27]:
df2.to_csv('yeo_after_tweets.csv')